.case {
  flex: 1;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid white;
}

.top {
  border-top: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.left {
  border-left: 1px solid black;
}

.right {
  border-right: 1px solid black;
}

.player {
  background-color: red;
}
